.news-flex-box {
    flex: 0 0 auto;
    margin-bottom: 2rem;
    display: flex;
    font-size: 0.8rem;
  }
  
  .news-box {
    flex: 1;
  }
  
  .update-box {
    flex: 1;
  }
  
  .miniroom {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .box-title {
    font-family: "KOTRA_BOLD-Bold";
    border-bottom: 1px solid grey;
    color: #3a913f;
  }
  
  .news-row {
    display: flex;
    font-size: 0.85rem;
    margin: 3px 0;
  }
  
  .news-category {
    padding: 0px 6px;
    margin-right: 6px;
    color: white;
    border-radius: 3px;
  }
  
  .category-pic {
    background-color: #a8d5ba;
  }
  
  .category-post {
    background-color: #c8d8eb;
  }
  
  .menu-row {
    display: flex;
    border-bottom: 1px dashed grey;
    margin: 2px;
  }

	.small-frame {
		text-align : center;
		border : 0px;
		border-radius : 10px;
		width : 300px;
		height : 110px;
	    box-shadow : 4px 4px 0 #afb59d;
	    position : absolute;
		top : 17%;	
		left : 60%;
	}
	
	.small-frame-title {
		font-family : 나눔스퀘어;
		font-size : 15px;
		font-weight : bold;
		letter-spacing : 3px;
		word-spacing : 3px;
		padding : 10px 40px;
	}
	
	audio {
		border : 2px solid green;
		border-radius : 40px;
	}
	
	button {
		text-align : center;
		border : 0px;
		background-color : transparent;
		font-size : 17px;
	}
  
  .menu-item {
    flex: 1;
  }
  
  .menu-num {
    font-family: "NeoDunggeunmo";
    padding-left: 6px;
    color: #003399;
  }
  
  .miniroom-gif-box {
    border: 1px solid #808080;
    flex: 1;
    display: flex;
  }